body {
  background-color: #ebe4d6;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.application {
  max-width: 800px;
  margin: 0 auto;
}

.user-list {
  padding: 20px;
}

.user-list > .user {
  display: flex;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 4px 15px -2px rgba(105, 105, 105, 1);
  -moz-box-shadow: 3px 4px 15px -2px rgba(105, 105, 105, 1);
  box-shadow: 3px 4px 15px -2px rgba(105, 105, 105, 1);
  background-color: #aeaad1;
}

.user > .user-data,
.user > .pokemon-data {
  width: 50%;
}
